/* Extension: Star Citizen Hangar XPLORer */
/* https://chrome.google.com/webstore/detail/star-citizen-hangar-xplor/bhkgemjdepodofcnmekdobmmbifemhkc */

/* Design */
/* Remove the code inside this comment if you want to have the original design */
    .js-bulk-ui,
    .js-bulk-ui .inner{border: 0px;}
    .content-block1>.corner.corner-top-right,
    .content-block1>.corner.corner-bottom-right{display: none;}
/* Design end */

.js-bulk-ui{
    margin-left: 20px;
    top: 284px!important;
}
.js-bulk-ui .value .label, .js-bulk-ui .value .label-short{
    width: auto;
    padding-left: 0;
    display: block;
    text-align: center;
}
.js-bulk-ui .value .amount{
    display: block;
    text-align: center;
    font-weight: 900;
}
.js-bulk-ui.cash .actions,
.js-bulk-ui.count .actions{
    margin-left: 10px!important;
}
.js-bulk-ui .value {text-align: center;}
.js-bulk-ui.count .count .amount,
.js-bulk-ui.count .count .label-short,
.js-bulk-ui.count .count .label{
    display: inline-block;
    text-align:left;
    margin-left:5px;
    margin-bottom:15px;
}
.js-bulk-ui.count .count .label-short{margin-right: 10px;}
.date-col.melt-col label::after{content: ":";}
.date-col.melt-col label{margin-right: 5px;}
/* Star Citizen Hangar XPLORer end */
